html {
	box-sizing: border-box!important;
}

body {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	box-sizing: border-box!important;
	max-width: 1280px;
	height: 100%;
	min-height: 100vh;
	margin: 0;
	margin-right: auto;
	margin-left: auto;
	padding: 10px 10px 0;
	color: @font-color;
	background: @body-color;
	font-family: @font-family;
}

h1 {
	color: @heading-color;
	font-size: 25px;
	font-weight: bold;
}

h2 {
	margin: 0;
	margin-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	text-align: center;
	font-size: 22px;
	font-weight: bold;
	line-height: 30px;
}

a {
	text-decoration: none;

	&:hover {
		text-decoration: none;
	}
}

header {
	display: flex;
	justify-content: space-between;
	padding-right: 15px;
	padding-left: 15px;

	ul {
		display: flex;
		justify-content: space-between;
		width: 75px;
		height: 30px;
		margin: 0;
		margin-top: auto;
		margin-bottom: auto;
		padding: 0;
		list-style: none;

		li {
			display: inline-block;

			a {
				display: inline-block;
				width: 30px;
				height: 30px;

				path {
					fill: white;
				}
			}
		}
	}
}

main {
	position: relative;
	margin-bottom: auto;
}

footer {
	position: relative;
}

.section-one {
	display: flex;
	flex-direction: column;
	align-items: center;

	.main-image {
		right: 0;
		left: 0;
		width: 300px;
		max-width: 100%;
		margin-top: -50px;
		margin-right: auto;
		margin-bottom: -50px;
		margin-left: auto;
	}

	.container {
		width: 680px;
		max-width: 100%;
		margin-bottom: 40px;
	}
}

form {
	display: flex;
	flex-direction: column;
	box-sizing: border-box;
	width: 450px;
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
	padding-right: 15px;
	padding-left: 15px;

	.input-group {
		position: relative;
		display: flex;
		flex-direction: column;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.input-placeholder,
	.input-placeholder-error {
		position: absolute;
		bottom: 10px;
		padding: 0;
		padding-left: 15px;
		text-transform: uppercase;
		pointer-events: none;
		color: @font-placeholder-color;
		font-size: 20px;
		font-weight: 400;

		&.input-selected {
			bottom: 45px;
			font-size: 15px;
		}
	}

	.input-placeholder-error {
		right: 0;
		color: #ff5e6d;
		font-size: 15px;

		&.hidden {
			display: none;
			visibility: hidden;
		}
	}

	input {
		height: 45px;
		color: @white;
		border: none;
		border-bottom: 2px solid @white;
		border-radius: 0;
		background: transparent;
		font-size: 20px;
		font-weight: 400;

		&.invalid {
			border-bottom: 2px solid #ff5e6d;
		}
	}

	#submit-button {
		width: 200px;
		margin-top: 15px;
		cursor: pointer;
		color: @white;
		border: 2px solid @white;
		border-radius: 5px;
		background-color: transparent;
		font-size: 20px;
	}
}
.emoji-flan {
	font-size: 25px;
}

@media (min-width: 768px) {
	body {
		height: 100vh;
		max-height: 100%;
	}

	main {
		margin-top: auto;
	}

	h2 {
		font-size: 30px;
		line-height: 50px;
	}

	.section-one {
		flex-direction: row;

		.main-image {
			width: 540px;
		}

		.container {
			max-width: 50%;
		}
	}
	form {
		width: 526px;
	}
}
