@font-family: 'Poppins';

@white: #fff;
@black: #000;

@body-color: #f6f6f6;
@font-color: @black;
@secondary-color: #626262;
@heading-color: @gradient-dark;


@gradient-light: #48c0cd;
@gradient-dark: #0084ff;
