@font-family: 'VarelaRound';

@white: #fff;
@black: #000;

@body-color: linear-gradient(-135deg, #45c0ff, #6074ff, #7930ff, #b04ff2);
@font-color: @white;
@secondary-color: #626262;
@heading-color: @font-color;
@font-placeholder-color: fade(@font-color, 50%);


@gradient-light: #48c0cd;
@gradient-dark: #0084ff;
